* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

[id*="downshift-"] {
	z-index: 10000;
}

[data-magic-box][data-magic-box][data-magic-box] {
	align-items: var(--mb--flx-ai);
	display: var(--mb--d, block);
	filter: blur(var(--mb--blr));
	flex-direction: var(--mb--flx-d);
	font-family: var(--mb--ftf);
	font-size: var(--mb--fts);
	font-weight: var(--mb--ftw);
	height: var(--mb--h);
	justify-content: var(--mb--flx-jc);
	letter-spacing: var(--mb--ls);
	line-height: var(--mb--lh);
	margin-bottom: var(--mb--mb);
	margin-left: var(--mb--ml);
	margin-right: var(--mb--mr);
	margin-top: var(--mb--mt);
	opacity: var(--mb--op);
	overflow: var(--mb--ov);
	padding-bottom: var(--mb--pb);
	padding-left: var(--mb--pl);
	padding-right: var(--mb--pr);
	padding-top: var(--mb--pt);
	text-align: var(--mb--txa);
	text-decoration: var(--mb--txd);
	width: var(--mb--w);
}

[data-magic-box][data-magic-box][data-magic-box][data-magic-stack="row"] > * {
	margin-right: var(--mb--flx-sp);
}

[data-magic-box][data-magic-box][data-magic-box][data-magic-stack="row"]
	> *:last-child {
	margin-right: 0;
}

[data-magic-box][data-magic-box][data-magic-box][data-magic-stack="column"]
	> * {
	margin-bottom: var(--mb--flx-sp);
}

[data-magic-box][data-magic-box][data-magic-box][data-magic-stack="column"]
	> *:last-child {
	margin-bottom: 0;
}
